In [2]:
import pandas as pd

In [3]:
website_url = './datasets_recsys/ff_favorite_stories_books.csv'
df = pd.read_csv(website_url, sep=';', index_col=None) # This may take a couple minutes

In [4]:
df.head()

   user_id  story_id     franchise
0   100016   1260679  Harry Potter
1   100016    554557  Harry Potter
2   100016    941087  Harry Potter
3   100016   1291535  Harry Potter
4   100016    856292  Harry Potter

In [5]:
df_sample = df.sample(frac=0.1)

In [6]:
len(df_sample['user_id'].unique())

668467

In [7]:
len(df_sample['story_id'].unique())

633016

In [8]:
df_sample['user_id'].value_counts()

2204459    514
2126908    490
1575238    483
2094280    482
2045369    482
2313896    481
2350367    480
1798201    475
2154657    463
2253582    457
2157579    456
2564473    454
3528031    450
1827347    447
2274997    440
3500177    433
1850220    430
3742059    416
5519073    415
201263     413
6277576    409
2148986    408
3311298    407
997810     405
2186446    398
2238691    397
3061974    397
1929602    396
5960910    393
3498744    391
          ...
80857        1
138173       1
562305       1
4783244      1
273275       1
4816060      1
4910286      1
4869338      1
738555       1
8688897      1
304391       1
5008414      1
5004312      1
31729        1
3498815      1
3707521      1
3931265      1
4009051      1
7961276      1
3814101      1
7715620      1
3593033      1
799765       1
7748436      1
4033615      1
3167129      1
4176905      1
4185093      1
4189187      1
45078        1
Name: user_id, Length: 668467, dtype: int64

In [9]:
df_sample.to_csv('favorite_stories_books_sample2.csv', sep=';', index=False)