In [15]:
import pandas as pd 
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
df = pd.read_csv('datasets_recsys/ff_users_fav_stories_data.csv', sep='|', encoding='latin')
df.head()

,user,story_id,plays,franchise_x,story_title,author,franchise_y,story_summary,q_words,date_submit,date_update,chapters,reviews
0,752508,1984041,1,Alias,Trying to Carry On,590553.0,Alias,"He had left her, her and her daughter. She wan...",51285.0,"7/27/2004,9/6/2004,3/19/2005,9/6/2004,7/21/200...",11/24/2005,17.0,267.0
1,752508,2046469,1,Alias,A Second Chance,590553.0,Alias,"SV had an affair and as a result, Sydney becam...",34944.0,"7/27/2004,9/6/2004,3/19/2005,9/6/2004,7/21/200...",7/22/2005,11.0,238.0
2,752508,1991603,1,Alias,A Question of Fate,586795.0,Alias,"SV S3. Angst, Romance, Action, Humor aw, come...",52468.0,"2/3/2005,8/1/2004,10/28/2004",6/16/2005,21.0,122.0
3,752508,2179554,1,Alias,The Ace of Hearts,590553.0,Alias,Sydney and Vaughn play a card game to pass the...,17342.0,"7/27/2004,9/6/2004,3/19/2005,9/6/2004,7/21/200...",5/6/2005,5.0,138.0
4,752508,1879281,1,Alias,The Vaughn\'s,251435.0,Alias,Sequel to 'One wedding and a near funeral.' S...,26402.0,"5/26/2004,11/15/2004,4/21/2004,3/17/2004,12/12...",2/21/2005,20.0,55.0

In [17]:
tfidf = TfidfVectorizer()

In [19]:
string = list(df['story_summary'])[0]
string

"He had left her, her and her daughter. She wanted nothing to do with him. What happens when he comes back and crashes the life she's tried so hard to carry on to? Season 4 spoilers inside."

In [20]:
y = tfidf.fit_transform([string])
y.toarray()

array([[ 0.27216553,  0.13608276,  0.13608276,  0.13608276,  0.13608276,
         0.13608276,  0.13608276,  0.13608276,  0.13608276,  0.13608276,
         0.27216553,  0.40824829,  0.13608276,  0.13608276,  0.13608276,
         0.13608276,  0.13608276,  0.13608276,  0.13608276,  0.27216553,
         0.13608276,  0.13608276,  0.13608276,  0.40824829,  0.13608276,
         0.13608276,  0.13608276,  0.13608276,  0.13608276]])

In [21]:
tfidf.vocabulary_

{'and': 0,
 'back': 1,
 'carry': 2,
 'comes': 3,
 'crashes': 4,
 'daughter': 5,
 'do': 6,
 'had': 7,
 'happens': 8,
 'hard': 9,
 'he': 10,
 'her': 11,
 'him': 12,
 'inside': 13,
 'left': 14,
 'life': 15,
 'nothing': 16,
 'on': 17,
 'season': 18,
 'she': 19,
 'so': 20,
 'spoilers': 21,
 'the': 22,
 'to': 23,
 'tried': 24,
 'wanted': 25,
 'what': 26,
 'when': 27,
 'with': 28}

In [22]:
tfidf.get_feature_names()

['and',
 'back',
 'carry',
 'comes',
 'crashes',
 'daughter',
 'do',
 'had',
 'happens',
 'hard',
 'he',
 'her',
 'him',
 'inside',
 'left',
 'life',
 'nothing',
 'on',
 'season',
 'she',
 'so',
 'spoilers',
 'the',
 'to',
 'tried',
 'wanted',
 'what',
 'when',
 'with']

In [23]:
df = pd.DataFrame(y.toarray(), columns = tfidf.get_feature_names())

In [24]:
df

,and,back,carry,comes,crashes,daughter,do,had,happens,hard,...,she,so,spoilers,the,to,tried,wanted,what,when,with
0,0.272166,0.136083,0.136083,0.136083,0.136083,0.136083,0.136083,0.136083,0.136083,0.136083,...,0.272166,0.136083,0.136083,0.136083,0.408248,0.136083,0.136083,0.136083,0.136083,0.136083

### Ahora que tenemos un vector con valores para el resumen de la historia podemos obtener medidas de similaridad: 

- distance levenshtein
- word2vec 
- euclidean distance
- cosine similarity

Se escogen historias con mas similaridad a las historias favoritas del usuario para que me haga recomendacion..