In [2]:
import pandas as pd
import numpy as np

In [3]:
df_users = pd.read_csv('datasets_recsys/ff_users_all_tab_delimited.csv', sep='|')

In [4]:
df_users.head()

,author_name,author_bio,author_description,joined,favorite_authors,communities,my_stories,fav_stories,user_id
0,Takeru Takaishi,"Right now, my newest obsession is Yu-Gi-Oh! Du...","Author has written 4 stories for Digimon, Drag...",05-09-00,NaN,NaN,"985272,303770,142387,25216",NaN,10000
1,SeaFairySakura,NaN,Author has written 1 story for Gundam Wing/AC.,08-03-01,NaN,NaN,382356,NaN,100000
2,St.Hoe,NaN,Author has written 1 story for Mutant X.,08-03-01,NaN,NaN,651636,762593,100001
3,RacerX1,NaN,NaN,08-03-01,NaN,NaN,NaN,NaN,100002
4,JoshBKFan,NaN,NaN,08-03-01,NaN,NaN,NaN,NaN,100003

In [5]:
# dejamos usuarios con alguna historia favorita 
df_users = df_users[pd.notnull(df_users['fav_stories'])]

In [6]:
# convertimos a listas 
# fav_stories
df_users['fav_stories'] = df_users['fav_stories'].apply(lambda x: x.split(','))

In [7]:
# funcion splitter para convertir elementos a listas 
def splitter(x):
    if type(x) == str:
        x = x.split(',')
    else:
        x = 0
    
    return x

In [8]:
def community(x):
    if type(x) == str:
        x = 1
    else:
        x = 0 
    
    return x

In [9]:
# cuenta el largo de cada lista para saber # autores favoritos, # fav_stories , # written stories 
def counter(x):
    if x != 0:
        x = len(x)
    else:
        x = 0
        
    return x

In [10]:
def bio_words(x):
    if type(x) == str:
        x = len(x)
    else:
        x = 0
    
    return x

In [11]:
# my_stories 
df_users['my_stories'] = df_users['my_stories'].apply(lambda x: splitter(x))

In [12]:
# favorite authors 
df_users['favorite_authors'] = df_users['favorite_authors'].apply(lambda x: splitter(x))

In [13]:
# community 1 si pertenece a una , 0 en caso contrario 
df_users['communities'] = df_users['communities'].apply(lambda x: community(x))

In [14]:
# feature cantidad de historias escritas si es autor 
df_users['q_written'] = df_users['my_stories'].apply(lambda x: counter(x))

In [15]:
# feature cantidad de historias favoritas 
df_users['q_favs'] = df_users['fav_stories'].apply(lambda x: counter(x))

In [16]:
# feature cantidad de autores favoritos 
df_users['q_fav_authors'] = df_users['favorite_authors'].apply(lambda x: counter(x))

In [17]:
# feature bio words 
df_users['bio_words'] = df_users['author_bio'].apply(lambda x: bio_words(x))

In [18]:
df_users.head()

,author_name,author_bio,author_description,joined,favorite_authors,communities,my_stories,fav_stories,user_id,q_written,q_favs,q_fav_authors,bio_words
2,St.Hoe,NaN,Author has written 1 story for Mutant X.,08-03-01,0,0,[651636],[762593],100001,1,1,0,0
13,WitchesRayvyn,"Name: Rayvyn,Age: 29,Gender: Female,Orientatio...",Author has written 1 story for Sailor Moon.,"08-03-01,06-12-13","[2324222, 499755, 1785440, 1149077, 440495, 21...",0,[6413390],"[4016930, 8980236, 5967445, 5178529, 3353749, ...",100012,1,15,11,2906
17,Insane Pineapple from Naboo,"All stories with the exception of ""Complicatio...","Author has written 21 stories for Escaflowne, ...","08-03-01,06-19-09","[205600, 147795, 325897, 373182, 238577, 35165...",1,"[807760, 5069100, 4264907, 1682924, 2407769, 2...","[1097925, 1260679, 1675750, 554557, 1452048, 1...",100016,21,23,18,641
28,alyaha,NaN,NaN,08-03-01,"[2127848, 2749192, 848798, 1821063, 5138800, 7...",0,0,"[12093371, 12453657, 12408672, 12363474, 12379...",100026,0,395,302,0
32,xelle,"February 2002 -I've gone back to my old name, ...",NaN,05-10-00,"[62055, 7790, 115697, 123967, 187747]",0,0,"[760169, 1268287, 1004606, 961031, 680746, 408...",10003,0,7,5,544

In [19]:
# creamos df solo con los features de cada user 
df_features = df_users[['user_id', 'q_written', 'q_favs', 'q_fav_authors', 'bio_words', 'communities']]

In [20]:
# guardamos como csv de features del usuario 
df_features.to_csv('ff_user_features.csv', index = False)

In [21]:
df = pd.read_csv('ff_user_features.csv')